<form {{action "save" on="submit"}}>
  <div>
    <label>
      Name
      {{input type="text" value=name}}
    </label>
  </div>
  <div>
    <label>
      Age
      {{input type="text" value=age}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
